<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mtrzk_modules" translate="label" sortOrder="100" class="mtrzk_system_config_tab">
            <label>MTRZK</label>
        </tab>
    </system>
</config>
